$radiusValue: 0.8vh;

$colorGold: #9A843A;
$colorGoldLight: rgba(154, 132, 58, 0.78);
$colorGoldDark: #c3a12f;

$colorWhite: white;
$colorWhiteLight: rgba(255, 255, 255, 0.72);
$colorWhiteLightMax: rgba(255, 255, 255, 0.454);

$colorBlack: black;
$colorBlackLight: rgba(29, 27, 25, 0.9);
$colorBlackLightMax: rgba(29, 27, 25, 0.8);
$colorBlackLightUltra: rgba(29, 27, 25, 0.4);

$colorGrey: grey;
$colorGreyLight: rgba(70, 68, 66, 0.9);

$shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);