@import '_global_variable.scss';

body {
    font-family: 'Gill Sans';
}

// ANIMATION
.fade-top-move,
.fade-top-enter-active,
.fade-top-leave-active {
    transition: all 0.5s ease;
}

.fade-top-enter-from,
.fade-top-leave-to {
    opacity: 0;
    transform: translateY(-45px);
}

// .btn-click-animation {
//     overflow: hidden;

//     &:active {
//         background-color: transparent !important;

//         &::before {
//             height: 130%;
//             width: 130%;
//         }
//     }

//     &::before {
//         content: '';
//         border-radius: 50%;
//         background-color: rgba(255, 255, 255, 0.454);
//         position: absolute;
//         transform: translate(-50%, -50%);
//         left: 50%;
//         top: 50%;
//         width: 0;
//         height: 0;
//         transition: all 150ms ease-in;
//     }
// }


// ANIMATION
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    40% {
        transform: translateX(-50%) translateY(-2vh);
    }

    60% {
        transform: translateX(-50%) translateY(-2vh);
    }
}

@keyframes bounceV {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-2vh);
    }

    60% {
        transform: translateY(-2vh);
    }
}